#google-map-box {
	width: 100%;
	height: 450px;
}
#dynamic-content{
	padding-top: 60px;
}

.columns-example{
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count: 3; /* Firefox */
	column-count: 3;
	-webkit-column-width: 100px; /* Chrome, Safari, Opera */
	column-width: 100px;
}


.media-queries-example {
	background-color: #E0E0E0;            
}
.media-queries-example:after{
	content: "Oh! The panel has changed!";
}

@media (min-width: 850px) {
	.media-queries-example {
		background-color: #484848;          
	}
	.media-queries-example:after{
		content: "Dark panel example";
	}
}

.overflow-example {
	width: 400px;
	border: 1px solid black;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;  
}